<div class="banner">
    <div class="shell">
        <dl>
            <dt>Cloud.tv</dt>
            <dd><i class="flaticon-analogic4"></i>一个简易的云游戏直播平台</dd>
            <dd>alpha 0.1</dd>
        </dl>
    </div>
</div>