<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>云游戏直播平台</title>
    <meta name="keywords" content="Keywords">
    <meta name="description" content="Description">

    <link rel="stylesheet" href="/css/diquick.css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/joshua.css">
    <link rel="stylesheet" href="/js/fancybox/jquery.fancybox.css">

</head>

<body>

<!-- wrapper begin -->
<div class="wrapper">
    <div class="header">
		#parse("sub-nav.vm")
        <div class="banner">
            <div class="shell">
                <dl>
                	<a id="modifyHead" href="#modifyHead-box">
                		<img src=${myself.headUrl} onerror="this.src='/img/defaultHead.gif'" class="circle mb3" style="max-width: 130px; border: solid gainsboro;" />
                	</a>
                
                    <div id="modifyHead-box" class="hide">
					    <h3>修改头像<small>请上传正方形图片</small></h3>
					    
					    <form id="uploadImgForm" action="/upload/img" method="post" enctype="multipart/form-data">
		                    <input id="uploadImg" type="file" name="file" />
		                    <input type="button" class="btn" value="上传图片" onclick="uploadImgFunc()">
		                </form>
		                <form id="userImgForm" class="hide">
		                	<input id="userImgUrlPath" type="text" name="headUrl" value=""/>
		                </form>
		                <button type="button" class="btn bg-main3" onclick="submitUserImg()"><i class="flaticon-clipboard85"></i>提交</button>
		                
					</div>
                    <div class="fs5 c-fff">
                    	${myself.nickname}
                    	#if(${myself.sex} == 1)
                            <span class="badge bg-blue">男</span>
                        #else
                            <span class="badge bg-red">女</span>
                        #end
                    </div>
					#if(${myself.selfSignature})
					#end
                    <div class="fs2 c-fff mt5">简介：
						#if(${myself.selfSignature})
							${myself.selfSignature}
						#else
                             这个人很懒，什么都没留下。
						#end
                    </div>
                </dl>
            </div>
        </div>
    </div>

    <div class="main mt5">
        <div class="shell" style="max-width: 60rem">
           <div class="sidebar hide-s fr">
                <div class="menu accordion">
                    <div><a>个人信息</a></div>
                	#if(${myself.permission}==3)
                        <div><a>我的房间</a></div>
                    #else
                        <div><a href="/user/${myself.id}/apply">成为主播</a></div>
                    #end
                	<div><a>直播准则</a></div>
                    <div><a>我的关注</a></div>
                    <div><a>我的礼物</a></div>
                    <div><a>更多</a></div>
                </div>
            </div>

            <div class="container">
                <div class="panel">
                    <div class="title">我的房间</div>
                    <div class="content">
                        #parse("sub-userInfo.vm")
                    </div>
                </div>

                #if(${myself.permission}==3)
                <div class="panel">
                    <div class="title">我的房间</div>
                    <div class="content">
                    	<form id="accessTokenForm"> 
						    <ul class="form ratio100">
						    	<li><span>直播间名称：</span><div><input name="roomName" type="text"></div></li>
						        <li><span>推送Url:</span><div><input id="publishUrl" type="text"></div></li>
						        <li><span>令牌：</span><div><input id="publishAccessToken" type="text"></div></li>
						    </ul>
						    <div class="btn-group">
						    	<button type="button" class="btn bg-main3" onclick="submitApplyAccessToken()">申请令牌</button>
                                <button type="button" class="btn bg-main5" onclick="window.location.href='${myself.id}/liveRoom'">更改房间信息</button>
						    	<button type="button" class="btn">清除令牌</button>
						    </div>
						</form>
                    </div>
                </div>
                #end


                <div class="panel">
                    <div class="title">我的关注</div>
                    <div class="content">
                        敬请期待
                    </div>
                </div>

                <div class="panel">
                    <div class="title">我的礼物</div>
                    <div class="content">
                        敬请期待
                    </div>
                </div>

            </div>
        </div>
    </div>

	#include("sub-footer.vm")
</div>
<!-- wrapper end -->

<script src="/js/jquery.js"></script>
<script src="/js/diquick.js"></script>
<script src="/js/fancybox/jquery.fancybox.pack.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/joshua.js"></script>

</body>

</html>