<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="joshua.cloudtv.dao.mapper.OnlineUserMapper">
  <resultMap id="BaseResultMap" type="joshua.cloudtv.dao.model.OnlineUser">
    <id column="cookie_uuid" jdbcType="VARCHAR" property="cookieUuid" />
    <id column="userid" jdbcType="INTEGER" property="userid" />
    <result column="login_datetime" jdbcType="TIMESTAMP" property="loginDatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    cookie_uuid, userid, login_datetime
  </sql>
  <select id="selectByPrimaryKey" parameterType="joshua.cloudtv.dao.model.OnlineUserKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from online_user
    where cookie_uuid = #{cookieUuid,jdbcType=VARCHAR}
      and userid = #{userid,jdbcType=INTEGER}
  </select>

  <select id="selectByUUID" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from online_user
    where cookie_uuid = #{cookieUuid,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="joshua.cloudtv.dao.model.OnlineUserKey">
    delete from online_user
    where cookie_uuid = #{cookieUuid,jdbcType=VARCHAR}
      and userid = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="joshua.cloudtv.dao.model.OnlineUser">
    insert into online_user (cookie_uuid, userid, login_datetime
      )
    values (#{cookieUuid,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, #{loginDatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="joshua.cloudtv.dao.model.OnlineUser">
    insert into online_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cookieUuid != null">
        cookie_uuid,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="loginDatetime != null">
        login_datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cookieUuid != null">
        #{cookieUuid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="loginDatetime != null">
        #{loginDatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="joshua.cloudtv.dao.model.OnlineUser">
    update online_user
    <set>
      <if test="loginDatetime != null">
        login_datetime = #{loginDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where cookie_uuid = #{cookieUuid,jdbcType=VARCHAR}
      and userid = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="joshua.cloudtv.dao.model.OnlineUser">
    update online_user
    set login_datetime = #{loginDatetime,jdbcType=TIMESTAMP}
    where cookie_uuid = #{cookieUuid,jdbcType=VARCHAR}
      and userid = #{userid,jdbcType=INTEGER}
  </update>
</mapper>