<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="joshua.cloudtv.dao.mapper.SystemParameterMapper">
  <resultMap id="BaseResultMap" type="joshua.cloudtv.dao.model.SystemParameter">
    <id column="key" jdbcType="VARCHAR" property="key" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    key, value, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from system_parameter
    where key = #{key,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from system_parameter
    where key = #{key,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="joshua.cloudtv.dao.model.SystemParameter">
    insert into system_parameter (key, value, description
      )
    values (#{key,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="joshua.cloudtv.dao.model.SystemParameter">
    insert into system_parameter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="key != null">
        key,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="joshua.cloudtv.dao.model.SystemParameter">
    update system_parameter
    <set>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where key = #{key,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="joshua.cloudtv.dao.model.SystemParameter">
    update system_parameter
    set value = #{value,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where key = #{key,jdbcType=VARCHAR}
  </update>
</mapper>